{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>KickStarter</h1>
</div>{% if session['usersid']%}
Project  

<div><form action="pledge" method= POST >
	<table border="0px" style="border-style:outset; border-width:1px; padding-left:4px; padding-right:4px; padding-top:3px; padding-bottom:3px" bgcolor="#33CCFF" width="921" cell>
    <thead>
    <tr>
    <th></th>
    </tr>
    </thead>
    <tbody>
 		<tr style="text-align: center;font-size: 14px;">
 		{% for n in session['project'] %}
    		<td><strong>{{n[2]}}</strong></td> 
    	{% endfor %}
 		</tr>
 		

</tbody>
    </table>
    </form>
</div>






{% else %}
<p class="lead">Login and Create a Project, Share your idea and get <code>PLEDGE</code> with <code>KICKSTARTER</code> </p>
{% endif %}
{% endblock %}
